<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Content/css/Site.css")" rel="stylesheet" type="text/css" />
    
    <!-- link to the CSS files for this menu type -->
    <link href="@Url.Content("~/Content/css/superfish.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/css/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.4-vsdoc.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.6.4.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/DropDownMenu/hoverIntent.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DropDownMenu/superfish.js")" type="text/javascript"></script>
    <!-- initialise Superfish -->
    
    @RenderSection("HeadScript", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $("ul.sf-menu").superfish();
            $("a.side-link").button();
            $(".tabs").tabs();
            $("input[type=submit], input[type=button], input[type=reset], button").button();

            var sideBar = $("#side-bar");
            if (sideBar != null) {
                $("#main").css("margin-left", sideBar.width() + 5 + "px");
                $("#main").css("min-height", sideBar.height() - 20 + "px");
            }

            if ($("#main").height() < 380) {
                $("#main").css("min-height", 380 + "px");
            }

        });
    </script>
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="header-top">
                <img id="logo" alt="Logo" src="@Url.Content("~/Content/images/logo.png")" />
                <div id="title">
                    <h1>@ViewBag.Title</h1>
                </div>
                <div id="logindisplay">
                    @Html.Partial("_LogOnPartial")
                </div>
            </div>
            <div class="menucontainer">
                @{
                    string controller = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();
                    string action = @ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
                }
                <ul class="sf-menu">
                    <li>
                        @{
                            string className = "";
                            if ("TrangChu".Equals(controller) && "Index".Equals(action)) {
                                className = "selected";
                            }
                        }
                        @Html.ActionLink("Trang Chủ", "Index", "TrangChu", null, new { @class = className })</li>
                    <li>
                        @Html.ActionLink("WebGIS", "Index", "WebGIS", null, new { @class = "WebGIS".Equals(controller) ? "selected" : "" })
                    </li>
                    <li>
                        @Html.ActionLink("Đăng Ký Giấy Phép", "Index", "GiayPhep", null, new { @class = "GiayPhep".Equals(controller) ? "selected" : "" })
                        <ul>
                            <li>@Html.ActionLink("Đăng Ký Giấy Phép Mới", "DangKyMoi", "GiayPhep")</li>
                            <li>@Html.ActionLink("Đăng Ký Gia Hạn", "DangKyGiaHan", "GiayPhep")</li>
                            <li>@Html.ActionLink("Đăng Ký Bổ Sung Hoạt Động", "Index", "TrangChu")</li>
                            <li>@Html.ActionLink("Bổ sung thông tin", "Index", "TrangChu")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Quản Lý", "Index", "TrangChu")</li>
                    <li>@Html.ActionLink("FAQ", "Index", "TrangChu")</li>
                    <li>@Html.ActionLink("Liên Hệ", "About", "Home")</li>
                </ul>
            </div>
        </div>
        <div id="middle">
            <div id="side-bar">
                <div>
                    <div>
                        <div class="side-menu">
                            <div>@Html.ActionLink("Trang Chủ", "Index", "TrangChu", null, new { @class = "side-link" })</div>
                            <div>@Html.ActionLink("Trang Chủ", "Index", "TrangChu", null, new { @class = "side-link" })</div>
                            <div>@Html.ActionLink("Trang Chủ", "Index", "TrangChu", null, new { @class = "side-link" })</div>
                            <div>@Html.ActionLink("Trang Chủ", "Index", "TrangChu", null, new { @class = "side-link" })</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="main">
                <div>
                    <div>
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            &copy; 2011
        </div>
    </div>
</body>
</html>
